CompileFlags:
  Add: [
    -xc,
    -std=gnu99,
    -Weverything,
    -Wno-empty-translation-unit
    -Wno-used-but-marked-unused,
    -Wno-padded,
    -Wno-declaration-after-statement,
    -Wno-covered-switch-default,
    -Wno-unsafe-buffer-usage,
    -Wno-missing-prototypes,
    -Wno-disabled-macro-expansion,
  ]
  Remove: [-W*]
  Compiler: clang
